TPE_Workshop_20160511/ScriptAndCode/LoRaDashboard.txt
[{"id":"a6dba9ec.8bc7a8","type":"freeboard","z":"73396110.0ffe5","name":"LoRaDashboard","x":605.5,"y":467,"wires":[]},{"id":"6b9f576e.4ed548","type":"debug","z":"73396110.0ffe5","name":"","active":true,"console":"false","complete":"payload","x":570,"y":178,"wires":[]},{"id":"65ae6bf.0524e94","type":"debug","z":"73396110.0ffe5","name":"","active":true,"console":"false","complete":"true","x":348.5,"y":82,"wires":[]},{"id":"e2a55c8d.eb3f9","type":"comment","z":"73396110.0ffe5","name":"Add config here","info":"please go to https://cust00-01.giotgateway.com/giot-mqtt/to get your mqtt confugeration","x":117,"y":179,"wires":[]},{"id":"3b93ac2d.0dd5c4","type":"function","z":"73396110.0ffe5","name":"ASCII decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\nvar ansdatastring=\" \";\n//decode ascii to string\nfor(var i = 0,j=0 ; i < Math.floor(dat.length/2); i++,j+=2){\n        datastring[i] = String.fromCharCode(parseInt(dat.substr(j,2),16));\n}\n\nfor(var i = 0; i <  Math.floor(dat.length/2) ; i++){\n    ansdatastring+=datastring[i];\n}\n\n//var ans = ansdatastring.split(\",\");\n\n//警政署GPS: 25.045361, 121.522544\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n ans: ansdatastring\n \n });\nreturn msg;","outputs":1,"noerr":0,"x":360.5,"y":151,"wires":[[]]},{"id":"12a5127e.bc16ee","type":"json","z":"73396110.0ffe5","name":"","x":462,"y":297,"wires":[["56c0a6f7.c7ebe8","a6dba9ec.8bc7a8"]]},{"id":"b0529510.728188","type":"mqtt in","z":"73396110.0ffe5","name":"LoRa Node","topic":"","broker":"","x":110,"y":146,"wires":[["65ae6bf.0524e94","29d37f7a.c49cb"]]},{"id":"56c0a6f7.c7ebe8","type":"debug","z":"73396110.0ffe5","name":"","active":true,"console":"false","complete":"false","x":622,"y":297,"wires":[]},{"id":"29d37f7a.c49cb","type":"function","z":"73396110.0ffe5","name":"PM2.5 Hex decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\n\n//decode hex to string\nvar pm = parseInt(dat.substr(0,2),16);      //假設是pm2.5的資訊\n\nvar temp = parseInt(dat.substr(2,2),16);    //溫度資訊\n\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n pm : pm,\n tem: temp\n\n });\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":182,"wires":[["12a5127e.bc16ee","6b9f576e.4ed548"]]},{"id":"7e44bbb7.b16f44","type":"inject","z":"73396110.0ffe5","name":"LoRa test input","topic":"","payload":"{\"id\":\"43c00b0f-fc31-49cd-9563-457cecdc6426\",\"macAddr\":\"0400012c\",\"data\":\"151C\",\"buff\":\"2016-04-29T11:30:21.176Z\",\"recv\":\"2016-04-29T11:30:20.000Z\",\"extra\":{\"gwip\":\"172.16.4.20\",\"gwid\":\"00001c497b3b805e\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-85,\"snr\":102}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":113,"wires":[["29d37f7a.c49cb","65ae6bf.0524e94"]]}]
