TPE_Workshop_20160511/ScriptAndCode/LoRaGMap.txt
[{"id":"85116447.7d38f8","type":"websocket-listener","z":"8d17c729.5db1c8","path":"/ws/lorapostion","wholemsg":"false"},{"id":"16f242ef.8c706d","type":"debug","z":"8d17c729.5db1c8","name":"","active":true,"console":"false","complete":"payload","x":631.5,"y":149,"wires":[]},{"id":"deb33a4.e5f1dc8","type":"debug","z":"8d17c729.5db1c8","name":"","active":true,"console":"false","complete":"true","x":410,"y":53,"wires":[]},{"id":"7341fe27.f8c3b","type":"http in","z":"8d17c729.5db1c8","name":"","url":"/loramap","method":"get","swaggerDoc":"","x":165,"y":492,"wires":[["34d33c4d.3fe874"]]},{"id":"ef0b03d5.681ed","type":"http response","z":"8d17c729.5db1c8","name":"","x":534,"y":489,"wires":[]},{"id":"34d33c4d.3fe874","type":"template","z":"8d17c729.5db1c8","name":"Map out put","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>LoRa Position</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t    // Initial look at position\n\t\t  var myLatlng = new google.maps.LatLng(25.041344, 121.565665);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  \n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/lorapostion\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var LoRaData = JSON.parse(evt.data);\n\t\t    var marker = new google.maps.Marker({\n    \t\t    position: new google.maps.LatLng(LoRaData.lat,LoRaData.lon),\n    \t\t    map: map,\n    \t\t    animation: google.maps.Animation.DROP,\n    \t\t    title: \"LoRa Node\"\n\t\t\t});\n\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":389,"y":491,"wires":[["ef0b03d5.681ed"]]},{"id":"56aa8be7.229ad4","type":"websocket in","z":"8d17c729.5db1c8","name":"","server":"85116447.7d38f8","client":"","x":124,"y":419,"wires":[["dcec28a9.657a18"]]},{"id":"dcec28a9.657a18","type":"websocket out","z":"8d17c729.5db1c8","name":"","server":"85116447.7d38f8","client":"","x":642,"y":413,"wires":[]},{"id":"1a336698.a47849","type":"comment","z":"8d17c729.5db1c8","name":"Add config here","info":"please go to https://cust00-01.giotgateway.com/giot-mqtt/to get your mqtt confugeration","x":178.5,"y":150,"wires":[]},{"id":"31f070cd.c6f2d","type":"function","z":"8d17c729.5db1c8","name":"ASCII decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\nvar ansdatastring=\" \";\n//decode ascii to string\nfor(var i = 0,j=0 ; i < Math.floor(dat.length/2); i++,j+=2){\n        datastring[i] = String.fromCharCode(parseInt(dat.substr(j,2),16));\n}\n\nfor(var i = 0; i <  Math.floor(dat.length/2) ; i++){\n    ansdatastring+=datastring[i];\n}\n\n//var ans = ansdatastring.split(\",\");\n\n//Äµ¬F¸pGPS: 25.045361, 121.522544\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n ans: ansdatastring\n \n });\nreturn msg;","outputs":1,"noerr":0,"x":422,"y":122,"wires":[[]]},{"id":"6c6992eb.e8c9ac","type":"json","z":"8d17c729.5db1c8","name":"","x":523.5,"y":268,"wires":[["dcec28a9.657a18","c047e754.db7e58"]]},{"id":"b1290c2f.4e3a9","type":"mqtt in","z":"8d17c729.5db1c8","name":"LoRa Node","topic":"","broker":"","x":171.5,"y":117,"wires":[["deb33a4.e5f1dc8","6a7e55e9.9da6cc"]]},{"id":"c047e754.db7e58","type":"debug","z":"8d17c729.5db1c8","name":"","active":true,"console":"false","complete":"false","x":683.5,"y":268,"wires":[]},{"id":"6a7e55e9.9da6cc","type":"function","z":"8d17c729.5db1c8","name":"GPS Hex decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\nvar ansdatastring=\" \";\n//decode hex to string\nvar long = parseInt(dat.substr(0,8),16)/Math.pow(10,6);\nvar lati = parseInt(dat.substr(8,8),16)/Math.pow(10,6);\nvar battery = parseInt(dat.substr(16,2),16);\nvar temp = parseInt(dat.substr(18,2),16);\nvar state = parseInt(dat.substr(20,2),16);\n\n\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n lat: lati,\n lon: long,\n bat: battery,\n tem: temp,\n st: state\n \n \n });\nreturn msg;","outputs":1,"noerr":0,"x":421.5,"y":153,"wires":[["6c6992eb.e8c9ac","16f242ef.8c706d"]]},{"id":"1537c014.685c3","type":"inject","z":"8d17c729.5db1c8","name":"LoRa test input","topic":"","payload":"{\"id\":\"43c00b0f-fc31-49cd-9563-457cecdc6426\",\"macAddr\":\"0400012c\",\"data\":\"073E4970017E2971C81E0A\",\"buff\":\"2016-04-29T11:30:21.176Z\",\"recv\":\"2016-04-29T11:30:20.000Z\",\"extra\":{\"gwip\":\"172.16.4.20\",\"gwid\":\"00001c497b3b805e\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-85,\"snr\":102}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":179.5,"y":84,"wires":[["6a7e55e9.9da6cc","deb33a4.e5f1dc8"]]}]
