TPE_Workshop_20160511/ScriptAndCode/LoRaSMS.txt
[{"id":"6569e3ec.65741c","type":"debug","z":"2049f47e.7b742c","name":"","active":true,"console":"false","complete":"payload","x":578,"y":168,"wires":[]},{"id":"6fdd2e8.4325dd","type":"debug","z":"2049f47e.7b742c","name":"","active":true,"console":"false","complete":"true","x":356.5,"y":72,"wires":[]},{"id":"97727238.cde33","type":"comment","z":"2049f47e.7b742c","name":"Add config here","info":"please go to https://cust00-01.giotgateway.com/giot-mqtt/to get your mqtt confugeration","x":125,"y":169,"wires":[]},{"id":"23ae0693.5e69ca","type":"function","z":"2049f47e.7b742c","name":"ASCII decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\nvar ansdatastring=\" \";\n//decode ascii to string\nfor(var i = 0,j=0 ; i < Math.floor(dat.length/2); i++,j+=2){\n        datastring[i] = String.fromCharCode(parseInt(dat.substr(j,2),16));\n}\n\nfor(var i = 0; i <  Math.floor(dat.length/2) ; i++){\n    ansdatastring+=datastring[i];\n}\n\n//var ans = ansdatastring.split(\",\");\n\n//Äµ¬F¸pGPS: 25.045361, 121.522544\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n ans: ansdatastring\n \n });\nreturn msg;","outputs":1,"noerr":0,"x":368.5,"y":141,"wires":[[]]},{"id":"b009d8d5.c8b968","type":"json","z":"2049f47e.7b742c","name":"","x":470,"y":287,"wires":[["3b90be57.065162","479b4b54.df9894"]]},{"id":"415e0887.1606f8","type":"mqtt in","z":"2049f47e.7b742c","name":"LoRa Node","topic":"","broker":"","x":118,"y":136,"wires":[["6fdd2e8.4325dd","3a041645.3ae06a"]]},{"id":"3b90be57.065162","type":"debug","z":"2049f47e.7b742c","name":"","active":true,"console":"false","complete":"false","x":630,"y":287,"wires":[]},{"id":"3a041645.3ae06a","type":"function","z":"2049f47e.7b742c","name":"Info Hex decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\nvar ansdatastring=\" \";\n//decode hex to string\nvar long = parseInt(dat.substr(0,8),16)/Math.pow(10,6);\nvar lati = parseInt(dat.substr(8,8),16)/Math.pow(10,6);\nvar battery = parseInt(dat.substr(16,2),16);\nvar temp = parseInt(dat.substr(18,2),16);\nvar state = parseInt(dat.substr(20,2),16);\n\n\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n lat: lati,\n lon: long,\n bat: battery,\n tem: temp,\n st: state\n \n \n });\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":172,"wires":[["b009d8d5.c8b968","6569e3ec.65741c"]]},{"id":"e6428804.975048","type":"inject","z":"2049f47e.7b742c","name":"LoRa test input","topic":"","payload":"{\"id\":\"43c00b0f-fc31-49cd-9563-457cecdc6426\",\"macAddr\":\"0400012c\",\"data\":\"073E4970017E2971C8340A\",\"buff\":\"2016-04-29T11:30:21.176Z\",\"recv\":\"2016-04-29T11:30:20.000Z\",\"extra\":{\"gwip\":\"172.16.4.20\",\"gwid\":\"00001c497b3b805e\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-85,\"snr\":102}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":126,"y":103,"wires":[["3a041645.3ae06a","6fdd2e8.4325dd"]]},{"id":"479b4b54.df9894","type":"switch","z":"2049f47e.7b742c","name":"","property":"payload.tem","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"}],"checkall":"true","outputs":1,"x":478.5,"y":351,"wires":[["32ea945b.b1dfac"]]},{"id":"32ea945b.b1dfac","type":"template","z":"2049f47e.7b742c","name":"SMSText","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"gps({{payload.lat}},{{payload.lon}})\nTemperature : {{payload.tem}} !","x":552.5,"y":420,"wires":[["4d11731f.63cd2c"]]},{"id":"4d11731f.63cd2c","type":"twilio out","z":"2049f47e.7b742c","service":"","from":"","number":"","name":"","x":654.5,"y":484,"wires":[]},{"id":"2b66cc8c.ffa6a4","type":"comment","z":"2049f47e.7b742c","name":"config twilio here","info":"","x":689.5,"y":515,"wires":[]}]
