TPE_Workshop_20160511/ScriptAndCode/LoRaIoT.txt
[{"id":"d4c8f4c5.0a04f8","type":"ibmiot out","z":"8a60ddb.254502","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"","deviceType":"Android","eventCommandType":"text","format":"json","data":"___","name":"IBM IoT","service":"registered","x":634,"y":470,"wires":[]},{"id":"bc78b8a5.dce5b8","type":"debug","z":"8a60ddb.254502","name":"","active":true,"console":"false","complete":"payload","x":558,"y":176,"wires":[]},{"id":"cf7fda1a.0d7b58","type":"debug","z":"8a60ddb.254502","name":"","active":true,"console":"false","complete":"true","x":336.5,"y":80,"wires":[]},{"id":"5fd85069.5e25e","type":"comment","z":"8a60ddb.254502","name":"Add config here","info":"please go to https://cust00-01.giotgateway.com/giot-mqtt/to get your mqtt confugeration","x":105,"y":177,"wires":[]},{"id":"820822d6.f12ee","type":"function","z":"8a60ddb.254502","name":"ASCII decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\nvar ansdatastring=\" \";\n//decode ascii to string\nfor(var i = 0,j=0 ; i < Math.floor(dat.length/2); i++,j+=2){\n        datastring[i] = String.fromCharCode(parseInt(dat.substr(j,2),16));\n}\n\nfor(var i = 0; i <  Math.floor(dat.length/2) ; i++){\n    ansdatastring+=datastring[i];\n}\n\n//var ans = ansdatastring.split(\",\");\n\n\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n ans: ansdatastring\n \n });\nreturn msg;","outputs":1,"noerr":0,"x":348.5,"y":149,"wires":[[]]},{"id":"ec9af867.62bec8","type":"json","z":"8a60ddb.254502","name":"","x":450,"y":295,"wires":[["d71afc21.07b2","b0ae4e54.88132"]]},{"id":"fc74a9b.ca6ff58","type":"mqtt in","z":"8a60ddb.254502","name":"LoRa Node","topic":"","broker":"","x":98,"y":144,"wires":[["cf7fda1a.0d7b58","187374a6.3d48eb"]]},{"id":"d71afc21.07b2","type":"debug","z":"8a60ddb.254502","name":"","active":true,"console":"false","complete":"false","x":610,"y":295,"wires":[]},{"id":"187374a6.3d48eb","type":"function","z":"8a60ddb.254502","name":"Info Hex decode","func":"var res = String.fromCharCode(65);\nvar Js = JSON.parse(msg.payload);\nvar dat = Js.data;\nvar datastring = new Array();\n\nvar ansdatastring=\" \";\n//decode hex to string\nvar long = parseInt(dat.substr(0,8),16)/Math.pow(10,6);\nvar lati = parseInt(dat.substr(8,8),16)/Math.pow(10,6);\nvar battery = parseInt(dat.substr(16,2),16);\nvar temp = parseInt(dat.substr(18,2),16);\nvar state = parseInt(dat.substr(20,2),16);\n\n\nmsg.payload = JSON.stringify({\n \n id : Js.macAddr,\n lat: lati,\n lon: long,\n bat: battery,\n tem: temp,\n st: state\n \n \n });\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":180,"wires":[["ec9af867.62bec8","bc78b8a5.dce5b8"]]},{"id":"4c52496d.40d318","type":"inject","z":"8a60ddb.254502","name":"LoRa test input","topic":"","payload":"{\"id\":\"43c00b0f-fc31-49cd-9563-457cecdc6426\",\"macAddr\":\"0400012c\",\"data\":\"073E4970017E2971C8340A\",\"buff\":\"2016-04-29T11:30:21.176Z\",\"recv\":\"2016-04-29T11:30:20.000Z\",\"extra\":{\"gwip\":\"172.16.4.20\",\"gwid\":\"00001c497b3b805e\",\"repeater\":\"00000000ffffffff\",\"systype\":4,\"rssi\":-85,\"snr\":102}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":106,"y":111,"wires":[["187374a6.3d48eb","cf7fda1a.0d7b58"]]},{"id":"b0ae4e54.88132","type":"function","z":"8a60ddb.254502","name":"format","func":"var str = \"Temperature is : \"+msg.payload.tem;\n\n\nmsg.payload =JSON.stringify({\n    d:{ \n        text: str\n    }\n    \n});\nreturn msg;","outputs":1,"noerr":0,"x":508.5,"y":396,"wires":[["d4c8f4c5.0a04f8"]]}]
